@charset "UTF-8";
/* CSS Document */
body{
	background-color: #968C35;

}
#TV{
	height: 100%;
	width: 100%;
	align-content: center;
}

#OnOff{
	height: 0px;
	width: 0px;	
	margin-left: 1125px;
	margin-top: 170px;
	position: absolute;
	z-index:2;
}
#lauter{

	z-index:2;
	height: 0px;
	width: 0px;
	margin-left: 1185px;
	margin-top: 370px;
	position: absolute;
}
#leiser{

	z-index:2;
	height: 0px;
	width: 0px;
	margin-left: 1115px;
	margin-top: 370px;
	position: absolute;
}
#bg
{
	z-index:1;
	height: 0px;
	width: 0px;
	margin-top: 0px;
	position: absolute;
	pointer-events: none;
	align-self: center;
}


#game
{
	height: 630px;
	width: 930px;	
	margin-left: 80px;
	margin-top: 70px;
	position: absolute;
	z-index:0;
	align-self: center;
}